.service__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    color: white;
}

.service__container{
    background-color: black;
    color: white;
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(black);
    height: fit-content;
    transform: var(--transition) ;
}

.service:hover{
    background: rgb(51, 49, 49);
    border-color:rgb(51, 49, 49) ;
    cursor: default;
    color: white;
}

.service__head{
    background-color: rgb(72, 143, 184);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgb(146, 197, 212) ;
}

.service__head h3{
    color: white;
    font-size: 1rem;
    text-align: center;
}

.service__list{
    padding: 2rem;
}

.service__list li{
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.service__list-icon{
    color: white;
    margin: 2px


}

.service__list p{
    font-size: 0.9rem;
}